<section class="daily-norm">
  <div class="container">
    <div class="daily-bg"></div>
    <div class="daily-content">
      <div class="daily-icon-wrap">
        <svg class="daily-icon soc-icon" width="18" height="20">
          <use href="./svg/icons.svg#icon-letter-H"></use>
        </svg>
      </div>
      <p class="daily-label">110 min</p>
      <h3 class="daily-title">Daily norm of sports</h3>
      <p class="daily-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
