<div class="backdrop-rating">
  <div class="container">
    <div class="modal-rating">
      <svg class="modal-rating-icon soc-icon" width="15" height="15">
        <use href="./svg/icons.svg#icon-close-btn"></use>
      </svg>
      <p class="form-title">Rating</p>
      <div class="rating-wrap">
        <p class="num-rating">0.0</p>
        <span class="form-star-rat"></span>
      </div>
      <form class="form-rating">
        <input
          class="form-rating-input"
          type="email"
          placeholder="Email"
          name="query-rat"
        />
        <textarea
          class="form-rating-placeholder"
          name="textarea-rat"
          placeholder="Your comment"
        ></textarea>
        <button class="rating-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
