<footer class="footer">
  <div class="container">
    <a href="">energy.flow</a>
    <ul class="mob-soc-list">
      <li class="mob-soc-item">
        <a
          href=" https://www.facebook.com/goITclub/"
          class="mob-soc-link"
          aria-label="link to Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="mob-soc-icon soc-icon" width="25" height="25">
            <use href="./svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-soc-item">
        <a
          href=" https://www.instagram.com/goitclub/"
          class="mob-soc-link"
          aria-label="link to Instargam"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="mob-soc-icon soc-icon" width="25" height="25">
            <use href="./svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-soc-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mob-soc-link"
          aria-label="link to YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="mob-soc-icon soc-icon" width="25" height="25">
            <use href="./svg/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <h2 class="footer-title">Transforming your body shape with us</h2>
    <p class="subscribe">Subscribe and learn about new exercises!</p>
    <form class="form">
      <input class="form-input" type="email" placeholder="Email" name="query" />
      <button type="submit" class="form-btn">Send</button>
      <div class="div-wrap">
        <p class="footer-label">Energy Flow. All rights reserved.</p>
        <p class="footer-label">Privacy Policy / Terms of Service</p>
      </div>
    </form>
  </div>
</footer>
