<footer class="footer">
  <div class="container">
    <div class="footer-bg">
      <div class="footer-wrap">
        <div class="soc-list-wrap">
          <a class="logo footer-logo" href="./index.html">energy.flow</a>
          <ul class="footer-soc-list">
            <li class="footer-soc-item">
              <a
                href=" https://www.facebook.com/goITclub/"
                class="footer-soc-link"
                aria-label="link to Facebook"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-soc-icon soc-icon" width="20" height="20">
                  <use href="./svg/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                href=" https://www.instagram.com/goitclub/"
                class="footer-soc-link"
                aria-label="link to Instargam"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-soc-icon soc-icon" width="20" height="20">
                  <use href="./svg/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-soc-link"
                aria-label="link to YouTube"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-soc-icon soc-icon" width="20" height="20">
                  <use href="./svg/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h2 class="footer-title">
          Transforming your <span class="footer-accent">body</span> shape with
          us
        </h2>
        <div class="footer-form-wrap">
          <p class="subscribe">Subscribe and learn about new exercises!</p>
          <form class="footer-form">
            <input
              class="footer-form-input"
              type="email"
              placeholder="Email"
              name="query"
            />
            <button type="submit" class="footer-form-btn">Send</button>
          </form>
        </div>
      </div>
      <div class="copyright-wrap">
        <p class="footer-label">Energy Flow. All rights reserved.</p>
        <p class="footer-label">Privacy Policy / Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
