<section class="quote">
  <div class="container">
    <div class="quote-content">
      <div class="quote-wrap">
        <div class="run-icon-wrap">
          <svg class="quote-run-man soc-icon" width="18" height="20">
            <use href="./svg/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h2 class="quote-title">Quote of the day</h2>
        <div class="icon-quote-wrap">
          <svg class="quote-icon soc-icon" width="28" height="28">
            <use href="./svg/icons.svg#icon-quotes"></use>
          </svg>
        </div>
      </div>
      <p class="js-quote-text quote-text"></p>
      <p class="js-quote-author quote-author"></p>
    </div>
    <div class="quote-bg"></div>
  </div>
</section>
