.footer-bg {
  padding: 40px 20px;
  width: 335px;
  height: 471px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(27, 27, 27, 0.7),
      rgba(27, 27, 27, 0.7)
    ),
    url(../img/footer/footer-bg-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--white-dirty);
}
.soc-list-wrap {
  margin-bottom: 40px;
}
.footer-soc-list {
  display: flex;
  gap: 12px;
}
.footer-soc-link {
  width: 20px;
  height: 20px;
}
.footer-soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
}
.footer-soc-icon {
  fill: rgb(246, 246, 246);
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.07em;
  color: var(--white-dirty);
}
.footer-accent {
  display: inline-flex;
  color: rgba(246, 246, 246, 0.3);
  font-style: italic;
}

.subscribe {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.3;
  color: var(--white-dirty);
}
.footer-form-input {
  padding: 12px 14px;
  margin-bottom: 12px;
  background-color: transparent;
  border: 1px solid var(--white-dirty);
}
.footer-form-input,
.footer-form-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  height: 42px;
  width: 100%;
  border-radius: 30px;
  color: rgba(246, 246, 246, 0.6);
}
.footer-form-btn {
  color: var(--white-dirty);
  background-color: var(--grey);
  border: none;
}
.footer-form-wrap {
  margin-bottom: 60px;
}
.footer-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.07em;
  color: var(--white-dirty);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .footer-bg {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-mob@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
  screen and (min-resolution: 96dpi) and (min-width: 768px),
  screen and (min-resolution: 1dppx) and (min-width: 768px) {
  .footer-bg {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-tab.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .footer-bg {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-tab@2x.png);
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1440px),
  screen and (min-resolution: 96dpi) and (min-width: 1440px),
  screen and (min-resolution: 1dppx) and (min-width: 1440px) {
  .footer-bg {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-desk.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
  screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px) {
  .footer-bg {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-desk@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer-bg {
    padding: 64px 48px 32px 48px;
    width: 736px;
    height: 576px;
    border-radius: 50px;
  }

  .footer-wrap {
    display: flex;
    gap: 145px;
    margin-bottom: 100px;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .soc-list-wrap {
    margin-bottom: 0;
  }
  .footer-soc-item {
    width: 44px;
    height: 44px;
  }
  .footer-title {
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 1.08;
  }
  .subscribe {
    font-size: 18px;
  }
  .footer-form-input {
    margin-bottom: 20px;
  }
  .footer-form-input,
  .footer-form-btn {
    font-size: 16px;
    line-height: 1.5;
    height: 48px;
    width: 352px;
  }

  .footer-form-wrap {
    margin-bottom: 0;
  }
  .footer-label {
    font-size: 14px;
    line-height: 1.3;
  }
  .copyright-wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .footer-label:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer-bg {
    padding-bottom: 26px;
    width: 1408px;
    height: 454px;
  }
  .tablet-wrap {
    display: flex;
  }
  .footer-wrap {
    margin-bottom: 160px;
    gap: 0;
  }
  .soc-list-wrap {
    margin-right: 156px;
  }
  .footer-title {
    margin-right: 194px;
    max-width: 452px;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 1.03;
  }
  .footer-form-wrap {
    margin-bottom: 0;
  }
  .footer-label {
    font-size: 14px;
    line-height: 1.3;
  }
  .copyright-wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .footer-label:first-child {
    margin-bottom: 0;
  }
}
